@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(48, 48, 48);
  background: linear-gradient(
    to bottom,
    white,
    rgb(255, 200, 218) /* より薄いピンク */
      /* または rgb(255, 192, 203) でより濃いピンク */
  );
  min-height: 100vh; /* 画面全体にグラデーションを適用 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
